@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Gestión Hospitalaria</h1>
    <p>Seleccione una opción para comenzar:</p>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Pacientes</h3>
            </div>
            <div class="card-body text-center">
                <p class="card-text">Gestiona la información de los pacientes.</p>
                <a href="@Url.Action("Crear", "Pacientes")" class="btn btn-primary">
                    <i class="fas fa-user-plus"></i> Ingresar Nuevo Paciente
                </a>
                <a href="@Url.Action("Index", "Pacientes")" class="btn btn-outline-info mt-2">
                    <i class="fas fa-users"></i> Ver Pacientes
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Médicos</h3>
            </div>
            <div class="card-body text-center">
                <p class="card-text">Gestiona la información del personal médico.</p>
                <a href="@Url.Action("Crear", "Medicos")" class="btn btn-success">
                    <i class="fas fa-user-md"></i> Ingresar Nuevo Médico
                </a>
                <a href="@Url.Action("Index", "Medicos")" class="btn btn-outline-info mt-2">
                    <i class="fas fa-user-friends"></i> Ver Médicos
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Citas</h3>
            </div>
            <div class="card-body text-center">
                <p class="card-text">Gestiona la información de citas.</p>
                <a href="@Url.Action("Crear", "Citas")" class="btn btn-success">
                    <i class="fas fa-user-md"></i> Ingresar Nueva Cita
                </a>
                <a href="@Url.Action("Index", "Citas")" class="btn btn-outline-info mt-2">
                    <i class="fas fa-user-friends"></i> Ver Citas
                </a>
            </div>
        </div>
    </div>
</div>